html{
  font-size: 16px;
  color:white;
}

.containergrid{

  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 10px;
    padding: 10px;
  
  
}
.container-pattern{
  width: 95%;
  height: 100vh;
  margin:  0 auto;
 
  
}
.gauge__container{
  background-color: white;
  border-radius: 4%;
  /*border: 1px solid #7d7d7d;*/

}
.flex-container{
  width: 100%;
  display:flex ;
  justify-content: space-between ;
  align-items: center;

}

.contaminatLevel__title{

  padding-top: 5px;
  padding-left: 7px;
  font-size: 18px;
}

.contaminatLevel__gauge{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /*contaminant level y flex continaer contienen las mismas instrucciones*/

}
h3{
  text-align: center;
  background: white;
  min-width: 20%;
  max-width: 1fr;
  padding: 10px;
  margin: 10px;
  
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background: white;
  
  margin: 10px;
}

thead{

  
  background-color: #fe6385;
  color:white;
}
th,td{
  max-width: 1fr;
  text-align:start;
border: 2px solid white;
padding: 10px;



}


@media (max-width: 700px) {
  .containergrid {
   grid-template-columns: repeat(2, minmax(20%, 1fr));
  }
}


@media (max-width: 500px) {
  .containergrid {
    grid-template-columns: 1fr;
  }
}