<div class="container-pattern">
   <p>
  Los datos mostrados provienen de sensores de bajo costo operados de forma independiente.
    Pueden presentar interrupciones y no sustituyen información oficial
  </p>  
 <h3  >Datos ambientales</h3>

  
    <div class="containergrid">
      <div class="gauge__container">      
        <div class="flex-container" >
            <h2 class="contaminatLevel__title contaminatLevel__title--big" >Humedad</h2>
            <span> Regular </span>  
        </div>
          <div class="flex-container contaminatLevel__gauge"  >
                  <ngx-gauge
                    [value]="humedad" 
                    type="full"
                    [thick]="11"
                    cap="round"
                    [max]=100
                    [size]=186
               
                    foregroundColor="#0077b6"
                    label="%"
                    >
                    </ngx-gauge>
          </div>
          <p>Últ. act.: {{horaGrupoB}}</p>
        </div>

        <div class="gauge__container">      
          <div class="flex-container" >
              <h2 class="contaminatLevel__title contaminatLevel__title--big" >Temperatura</h2>
              <span> Regular </span>  
          </div>
            <div class="flex-container contaminatLevel__gauge"  >
                  <ngx-gauge
                                              [value]="temperatureValue"
                                              type="arch"
                                              [thick]="11"
                                              cap="round"
                                              [max]=50
                                              [size]=200
                                              label="C°"
                                              foregroundColor="#fe6385"
                                              >
                                            </ngx-gauge>
            </div>
            <p>Últ. act.: {{horaGrupoA}}</p>

          </div>
          <div class="gauge__container">      
            <div class="flex-container" >
                <h2 class="contaminatLevel__title contaminatLevel__title--big" >PB</h2>
                <span> Regular </span>  
            </div>
              <div class="flex-container contaminatLevel__gauge"  >
<ngx-gauge
  [value]="temperatureValue"
  type="arch"
  [thick]="11"
   cap="round"
  [max]="50"
  [size]="200"
  foregroundColor="#fe6385">
</ngx-gauge>

              </div>
       <p>Últ. act.: {{horaGrupoA}}</p>

            </div>
            <div class="gauge__container">      
            <div class="flex-container" >
                <h2 class="contaminatLevel__title contaminatLevel__title--big" >Altitud</h2>
                <span> Regular </span>  
            </div>
              <div class="flex-container contaminatLevel__gauge"  >
                   <ngx-gauge
                                              [value]="altitudeValue"
                                              type="arch"
                                              [thick]="11"
                                              cap="round"
                                              [max]=50
                                              [size]=200
                                        
                                              foregroundColor="#fe6385"
                                              >
                                            </ngx-gauge>
              </div>
                          <p>Últ. act.: {{horaGrupoA}}</p>

            </div>
        
        
    </div>

     <div class="containergrid">
          <div class="gauge__container">      
        <div class="flex-container" >
            <h2 class="contaminatLevel__title contaminatLevel__title--big" >Vientos</h2>
            <span> Regular </span>  
        </div>
          <div class="flex-container contaminatLevel__gauge"  >
                <ngx-gauge
                              [value]="windSpeed"
                              type="semi"
                              [thick]="13"
                              cap="round"
                              [size]="220"
                              label={{directionSocket}}
                              append="km/h"
                             
                              >
                              </ngx-gauge>
          </div>
          <p>Últ. act.: {{horaGrupoB}}</p>

        </div>
          <div class="gauge__container">      
        <div class="flex-container" >
            <h2 class="contaminatLevel__title contaminatLevel__title--big" >Rayos UV</h2>
            <span> Regular </span>  
        </div>
          <div class="flex-container contaminatLevel__gauge"  >
                 <ngx-gauge
                          [value]="ryValue"
                           type="arch"
                           [thick]="11"
                           cap="round"
                           [max]=11
                           [size]="200"
                          
                           foregroundColor="#4d4b78"
                           [duration]="1500"
                           
                          >
                        </ngx-gauge>
          </div>
              <p>Últ. act.: {{horaGrupoA}}</p>

        </div>

     </div>
     
 <h3 >Contaminantes</h3>

    
   

      <div class="containergrid">
      <div class="gauge__container">      
        <div class="flex-container" >
            <h2 class="contaminatLevel__title contaminatLevel__title--big" >PM10</h2>
            <span> Regular </span>  
        </div>
          <div class="flex-container contaminatLevel__gauge"  >
                   <ngx-gauge
                            [value]="pm1"
                            type="arch"
                            [thick]="11"
                            cap="round"
                            [max]=300
                            [size]=200
                         
                            foregroundColor="#3333ff"
                            >
                            </ngx-gauge>
          </div>
          <p>PM-12h </p>
        </div>
        <div class="gauge__container">      
          <div class="flex-container" >
              <h2 class="contaminatLevel__title contaminatLevel__title--big" >PM2.5</h2>
              <span> Regular </span>  
          </div>
            <div class="flex-container contaminatLevel__gauge"  >
                 <ngx-gauge
                              [value]="pm2_5"
                              type="arch"
                              [thick]="11"
                              cap="round"
                              [max]=300
                              [size]=200
                             
                              foregroundColor="#ce929d"
                              >
                              </ngx-gauge>
            </div>
             <p>PM-12h </p>

          </div>
          <div class="gauge__container">      
            <div class="flex-container" >
                <h2 class="contaminatLevel__title contaminatLevel__title--big" >PM1.0</h2>
                <span> Regular </span>  
            </div>
              <div class="flex-container contaminatLevel__gauge"  >
                 <ngx-gauge 
                            [value]="pm10"
                            type="arch"
                            [thick]="11"
                            cap="round"
                            [max]=300
                            [size]=200
                          
                            foregroundColor="#4c195a"
                            >
                            </ngx-gauge>
              </div>
                <p>PM-12h </p>
            </div>
            <div class="gauge__container">      
            <div class="flex-container" >
                <h2 class="contaminatLevel__title contaminatLevel__title--big" >Ozono</h2>
                <span> Regular </span>  
            </div>
              <div class="flex-container contaminatLevel__gauge"  >
                     <ngx-gauge  
                          [value]="o3value"
                           type="arch"
                           [thick]="11"
                           cap="round"
                           [max]=1000
                           [size]=200
                         
                           foregroundColor="#0077b6"
                          [duration]="1500"
                           label="ppb"
                
                          >
                        </ngx-gauge>
              </div>
              <p>Promedio horario </p>
            </div>
        
        
    </div>
    <div class="containergrid">
       <div class="gauge__container">      
            <div class="flex-container" >
                <h2 class="contaminatLevel__title contaminatLevel__title--big" >Dioxido de carbono</h2>
                <span> Regular </span>  
            </div>
              <div class="flex-container contaminatLevel__gauge"  >
                       <ngx-gauge
                                  [value]="co2value"
                                  type="arch"
                                  [thick]="10"
                                  cap="round"
                                  [max]=1100
                                  [size]=200
                                
                                  foregroundColor="#0077b6"
                                  label="ppm"
                                  >
              </ngx-gauge>
              </div>
            </div>
    </div>

 <h3  >Precipitación en un plazo de 24hrs </h3>



      <div class="containergrid">
      <div class="gauge__container">      
        <div class="flex-container" >
            <h2 class="contaminatLevel__title contaminatLevel__title--big" >Precipitación</h2>
            <span> Regular </span>  
        </div>
          <div class="flex-container contaminatLevel__gauge"  >
                  <ngx-gauge
                                        [value]="precipitacion_tr"
                                        type="arch"
                                        [thick]="11"
                                        cap="round"
                                        [max]=1200
                                        [size]=200
                                
                                        foregroundColor="#3c5a6f"
                                        >
                                        </ngx-gauge>
          </div>
        </div>
        <div class="gauge__container">      
          <div class="flex-container" >
              <h2 class="contaminatLevel__title contaminatLevel__title--big" >TDS</h2>
              <span> Regular </span>  
          </div>
            <div class="flex-container contaminatLevel__gauge"  >
                    <ngx-gauge
                                        [value]="tds_tr"
                                        type="arch"
                                        [thick]="11"
                                        cap="round"
                                        [max]=1200
                                        [size]=200
                                        
                                        foregroundColor="#3c5a6f"
                                        >
                                        </ngx-gauge>
            </div>
          </div>
         
            
        
    </div>

 
</div>


