
.container{
  width: 90%;
  height: 100vh;
  color :rgb(255, 255, 255) ; /* rgb(200, 200, 200) aliceblue  | este color es rgb(110, 110, 110); cuando se ve blanco la pantalla*/
  margin: 0 auto;
 /* border: 1px dashed black; */


}



/* sensores mq131, sensores mq135 y rayos ultra violeta  */
.containerWindSPeedAnenometer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*   */

.subContainer__WindSpeed{
  width: 100%;
  height: 100%;
  background: rgb(29,27,30,0.5);
  border-radius: 10px;

 /*  display: flex;
  flex-direction: column;
  justify-content: space-between; */

}

/*  wind direction cardinal points      */
.wrapper{
  position: relative;
  width: 180px;
  height:180px;
  border-radius: 50%;

}
.number-hours{
  position:absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
.number-hours span {

  position: absolute;
  transform: rotate(calc(var(--index)*22.5deg));
  inset:6px;
  text-align: center;
}


.number-hours span p{
  font-size: 10px;

  transform: rotate(calc(var(--index)*-22.5deg));

}



.contaminantsContiner{
  width: 100%;
  height: 45%;
  display: grid;
  grid-template-columns: 60% 40%;
  /*border: #ccc 1px solid ; */
  overflow: hidden;

}

.contacontaminantsContiner__Grid{

  display: grid;
  grid-template-rows: 30% 70%;
  padding-right: 15px;

}
.flex-container{
  width: 100%;
  display:flex ;
  justify-content: space-between ;
  align-items: center;

}

.height100{
  height:70% ;
}



/* estilos para  contaminantes de particulas suspendidas, ozono, o2, uv */

.contaminatLevel{
  height: 100%;
  background: rgb(29,27,30,0.5);
  border-radius: 10px;
}

.contaminatLevel--smallWidth{
  width: 28%;
}
.contaminatLevel--mediumWidth{
  width: 48%;
}
.contaminatLevel--bigWidth{
  width: 100%;
}


.contaminatLevel__gauge{
  display: flex;
  justify-content: center;

}
/*titles */
.contaminatLevel__title{

  padding-top: 5px;
  padding-left: 7px;

}
.contaminatLevel__title--small{
  font-size: 15px;
}
.contaminatLevel__title--big{
  font-size: 18px;
}

.contaminatLevel__levelUnit{

font-size:14px
}
.contaminatLevel__levelUnit--big{
font-size: 15px;

}





/*  Estilos para los sensores que reveltan datos del medio ambiente
envSenContainer -> environmentalSensorsContainer
*/
.envSenContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50% ;
}
.paddingBottomGroubBox{

  margin-bottom: 2.5%;
}
.marginTopGroubBox{

  margin-top: 2.5%;

}

/* this styles are used to apply padding to the groupBoxCOntainer */


.groupBboxsubContainer{

    display: flex;
  justify-content: center;

}
.fullContainer-uv{
  width: 100%;
  height: 100%;
}
.tableV{
  width: 48%;
  height: 100%;
  background: rgb(29,27,30,0.5);
  border-radius: 10px;
  overflow-y: scroll; /* Enable vertical scroll bar */


}
th{

  position: sticky;
  top: 0;
}
/*
.{}
*/
.tableWS{

  width: 100%;
  background: rgb(29,27,30,0.5);
  border-radius: 10px;
  overflow-x: scroll;


}
/*estilos para la tabla */
table{

  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{

  background: #1D1B1E;
}
.containerWS{
  width: 100%;
  height:fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  /*
  border: 1px solid white;
  */


}
/*
Temperatura y medidor
*/
.temperatureGraphAndGauge{
  width: 100%;
  height: 100%;

}

.containerTemperatura{
  width: 150px;
  height: 50px;

  border-radius: 10px;
}
.continerChartTemperature{
  width: 100%;
  height: 50%;
}

.chart-container {

  position: relative;
  width: 95%;
height: 100%;


}


/*
********************************
********************************
nuevos estislo de wind y temperatura , tds
********************************
*******************************



*/


.weather-container{
  width: 100%;
  height: 45%;
  display : grid;
  grid-template-columns: 50% 50%;
  /*
  border: 2px solid rebeccapurple;
  */
}
.windInfo{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 75%;
  /*
  border: 2px solid  blue;
  */
}

.containerGrid--50{
  width: 100%;
  height: 100%;
  display : grid;
  grid-template-columns: 48% 48%;

}

.windInfo__levelSensor{
  width: 48%;
  height: 100%;
  background: rgb(29,27,30,0.5);


}

.chart-Temperature{
  width: 270px;
  height: 240px;
}


@media screen and (max-width: 768px) {
  .weather-container{
    grid-template-columns: none;
    width: 100%;
    height:fit-content;
    display :flex;
    flex-wrap: wrap;
    /*
    border: 2px solid rebeccapurple;
    */

  }

}

@media screen and (max-width:  375px) {

  .containerGrid--50{
    width: none;
    height: none;
    display : flex;
    grid-template-columns: none;
    flex-wrap: wrap;
  }
  .chart-Temperature{
    width: 330px;
    height: 240px;
  }
}


/*
tablet 768px
celular 368px

*/
/*estos estilos son para tablet */
@media screen and (max-width: 768px) {

  /*contendor de particulas y de uv, ozono y o3 */

  .contaminantsContiner{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;

   /*
    overflow: visible;
    border: pink 3px solid;
    */
   overflow: hidden;
   }

  .contacontaminantsContiner__Grid{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 30% 70%;
    padding-right: 0px;
    /*
    border: green 3px solid ;
    */

  }

  .chart-container {
    width:  600px;
    height:100%;
    /*
    border: yellow 3px solid ;
    */

    display: flex;
    justify-content: center;
  }

}
@media screen and (max-width:  375px) {
  .chart-container {
    width:  330px;
    height:100%;
    border: yellow 3px solid ;
    display: flex;
    justify-content: center;
  }


}















.container{
  width: 90%;
  height: 100vh;
  color :rgb(255, 255, 255) ; /* rgb(200, 200, 200) aliceblue  | este color es rgb(110, 110, 110); cuando se ve blanco la pantalla*/
  margin: 0 auto;
  padding-top: 50px;
 /* border: 1px dashed black; */


}
h2{
  padding-top: 5px;
  font-size: 20px;
  font-weight: lighter;
}

.containerGeneralBMP180{
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.subContainerTemperature{
  width: 200px;
  height: 240px;
  background: rgb(29,27,30);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));


}
.containerResults{
  width: 100%;
  height: 240;
display: grid;
grid-template-columns: 220px 620px;

align-items: center;

}
.containerbmp180{
  width: 300px;
  height: 120px;
  background: rgb(29,27,30);
  border-radius: 10px;
  margin-bottom: 10px;

}
.subContainerbmp180{
display: flex;
justify-content: center;

}
.containerGraph{
  width: 1fr;
  display: flex;
  justify-content: space-evenly;
  background: #1D1B1E;

}
.containerGraph__gauge{
  /* border: 1px solid rgb(30, 30,30);  */
   width: 146px;
  height: 174px;
  align-self: center;


}
.containerGraph__chart{
 /* background:rgb(30, 30,30); */

 width: 620px;
 border-radius: 10px;
 background: rgb(29,27,30,0.3);
 backdrop-filter: blur(10px);


}

.contenedor-3d {
  width: 200px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: perspective(500px) rotateX(20deg);
  justify-content: center;
}





h1{
  width:100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  color : rgb(255, 255, 255) ;/*rgb(110, 110, 110);*/
  background: rgb(255, 255, 255);
}
h3{
  width: 1fr;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  text-align: center;
  margin-bottom: 10px;
  background:  rgb(255, 255, 255);
}

/* sensores mq131, sensores mq135 y rayos ultra violeta  */
.containerSensoresMQU{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*  */
.subContainer__WindSpeed{
  width: 300px;
  height: 240px;
  background: rgb(29,27,30,0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.subContainer__WindSpeed{
  width: 300px;
  height: 240px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
/*  wind direction cardinal points      */
.wrapper{
  position: relative;
  width: 180px;
  height:180px;
  border-radius: 50%;

}
.number-hours{
  position:absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
.number-hours span {

  position: absolute;
  transform: rotate(calc(var(--index)*22.5deg));
  inset:6px;
  text-align: center;
}


.number-hours span p{
  font-size: 10px;

  transform: rotate(calc(var(--index)*-22.5deg));

}

/*aquí esta el crote masater*/
.container{
  width: 90%;
  height: 100vh;
  color :rgb(255, 255, 255) ; /* rgb(200, 200, 200) aliceblue  | este color es rgb(110, 110, 110); cuando se ve blanco la pantalla*/
  margin: 0 auto;
 /* border: 1px dashed black; */


}
h2{
  padding-top: 5px;
  font-size: 20px;
  font-weight: lighter;
}

.containerGeneralBMP180{
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.subContainerTemperature{
  width: 200px;
  height: 240px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.containerTemperature{
  width: 100%;
  height: 240;
display: grid;
grid-template-columns: 220px 620px;

align-items: center;
}
.containerbmp180{
  width: 300px;
  height: 120px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  margin-bottom: 10px;

}
.subContainerbmp180{
display: flex;
justify-content: center;

}
.containerGraph{
  width: 1fr;
  display: flex;
  justify-content: space-evenly;
  background: #1D1B1E;

}
.containerGraph__gauge{
  /* border: 1px solid rgb(30, 30,30);  */
   width: 146px;
  height: 174px;
  align-self: center;


}
.containerGraph__chart{
 /* background:rgb(30, 30,30); */

 width: 620px;
 border-radius: 10px;
 background: rgb(29,27,30,0.3);
 backdrop-filter: blur(10px);


}

.contenedor-3d {
  width: 200px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: perspective(500px) rotateX(20deg);
  justify-content: center;
}





h1{
  width:100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  color : rgb(255, 255, 255) ;/*rgb(110, 110, 110);*/
  background: rgb(255, 255, 255);
}
h3{
  width: 1fr;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  text-align: center;
  margin-bottom: 10px;
  background:  rgb(255, 255, 255);
}


.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3498db; /* Adjust the color as needed */
  position: relative;
  animation: bounce 1s infinite;

}

@keyframes bounce {

  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);

  }
  40% {
    transform: translateY(-30px);
  }
}

.arrows-body
{
 position: relative;
 display: flex;
 align-items: center;
 justify-content:center ;
 bottom:-60px;
}


.arrow2{
  position: relative;
  width: 25px;
  height: 25px;
  border-top: 6px solid #1423DA;
  border-left:6px solid  #1423DA ;
  animation:arrow-load 4s infinite;
}
/* Aquí esta el codigo para la lluvia  */

.tabla-LLuvia{
  background: rgb(29,27,30);
  width: 100%;
  text-align: center;
border-collapse: collapse;
}
thead{
  background-color: #7372BB;

}
th, td{

  padding: 5px;
  text-align: center;
}
tr:nth-child(even){
  background-color: #7372BB;
}
tr:hover td {
  background-color:  #0077b6;
}

/*

 transform: rotate(0.69turn);

40deg norte  0.12turn N
60deg         0.18tur NNE
              0.23turn NE
              0.29turn ENE
              0.35turn E
              0.41turn ESE
              0.50turn SE
              0.57turn SSE
              0.62turn S





*/

